<div class="container">

    <img src="assets/img/burger.ico">
    <h1>Eat-Da-Burger!</h1>

    <div class="row">

        <div class="col-sm-6">


            <h2>Burgers Ready to Eat!</h2>


                {{#each burgers}}
                    {{#unless this.devoured}}
                        <div>
                            {{this.id this.name}}

                            <form action="/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="true">
                                <button type="submit">DEVOUR BURGER!</button>
                            </form>

                        </div>
                    {{/unless}}
                {{/each}}

        </div>
        <div class="col-sm-6">
            <h2>These Burgers Have Been Devoured!</h2>


                {{#each burgers}}
                    {{#if this.devoured}}
                        <div>
                            {{this.id this.name}}

                            <form action="/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="false">
                            </form>

                        </div>
                    {{/if}}
                {{/each}}

        </div>
    </div>

    <h2>Enter a burger you want to eat then click "Submit"</h2>

    <form id="add" action="/" method="POST">
        <textarea name="burger_name"></textarea>
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>

</div>

